
<ion-content>
  <div *ngFor= "let chat of chats; index as i">
    <div class="chats" (click)="selectChat(chat)">
      <ion-avatar class="chats_avatar">
        <img class="chats_profile_pic"
        src= "https://en.gravatar.com/userimage/189750586/ac6b269196325ddbefbcade40f3c8c05.jpg" />
      </ion-avatar>
      <div class="chats_name">
        <div><strong>{{ chat.name }}</strong></div>
        <div><p>{{ getLastMessage(i) }}</p></div>
      </div>
      <div class="chat_time">{{ getLastMessageTime(i) | date: 'shortTime' }}</div>
    </div>
</div>

</ion-content>
