
<ion-content>
  <div *ngFor= "let chat of chats; index as i">
    <div class="chats" (click)="selectChat(chat)">
      <ion-avatar class="chats_avatar">
        <img class="chats_profile_pic"
        src= "https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
      </ion-avatar>
      <div class="chats_name">
        <div><strong>{{ chat.name }}</strong></div>
        <div><p>{{ getLastMessage(i) }}</p></div>
      </div>
      <div class="chat_time">{{ getLastMessageTime(i) | date: 'shortTime' }}</div>
    </div>
</div>

</ion-content>
