<ion-header>
  <ion-toolbar>
    <div class="message_title" slot="start">
      <ion-buttons class="message_back_button">
        <ion-back-button defaultHref="home" (click)="unsubscribe()"></ion-back-button>
      </ion-buttons>
      <div class="messages_profile_pic"><ion-avatar>
        <img src= "https://en.gravatar.com/userimage/189750586/ac6b269196325ddbefbcade40f3c8c05.jpg" />
      </ion-avatar></div>
      <ion-title>{{ data.name }}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="message_content">
    <div *ngFor="let chat of data.messages">
      <div class="message_chats" [ngClass]="{'message_reciever': user._id == chat.from}">
        {{ chat.message }}
        <span class="message_time_stamp">{{ chat.time | date: 'short' }}</span>
      </div>
    </div>
  </div>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="chat_input">
      <ion-icon class="chat_icons" name="happy-outline"></ion-icon>
      <input type="text" name="chat" [(ngModel)]="chat">
      <div class="chat_icons">
        <ion-icon name="send" (click)="postMessage()"></ion-icon>    
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
